node_modules
.svelte-kit
build
.output
.vercel
.netlify
.wrangler
.git
.gitignore
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
test-results
e2e
*.md
.vscode
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
docker-compose*.yml
Dockerfile
